@model Blog
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/WriterLayoutPartial/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
           
            <h2 class="card-description"> Blog Ekleme Paneli </h2>
            <form asp-controller="Blog" asp-action="AddBlog" method="post" class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" asp-for="BlogTitle" class="form-control" id="exampleInputName1" placeholder="Başlık">
                    <span asp-validation-for="BlogTitle" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleSelectGender">Kategori</label>
                    <select asp-for="CategoryID" class="form-control" id="exampleSelectGender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Resim Yükle</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Resim Yükle</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Blog İçerik</label>
                    <textarea class="form-control" asp-for="BlogContent" id="exampleTextarea1" placeholder="Yazmak istediğiniz içeriği bu alana giriniz" rows="4"></textarea>
                    <span asp-validation-for="BlogContent" class="alert-danger"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

