<!DOCTYPE html>

<html lang="zxx">
<head>
    <!--HeadPartial-->

    <partial name="_userHeadPartial" />

</head>
<body>
    <!--Header-->
    <header>
        <partial name="_userHeaderLoginRegisterPartial" />
        <partial name="_userHeaderNavbar" />
        @*@{ Html.RenderPartial("_userHeaderNavbar");}*@
    </header>
    <!--//header-->
    <!--banner-->
    <partial name="_userHeaderbannerinner"/>
    <!--banner end-->
    <div>
        @RenderBody()
    </div>

    <!--footer-->
    <!--alternatif olarak bunu yazdım-->
    @await Html.PartialAsync("_userFooterPartial")

    @*<partial name="_userFooterPartial"/>*@
    <!---->
    <!--ScriptsPartaial-->
    <partial name="_userScriptPartial" />

</body>
</html>
